*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    max-width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'League Spartan', sans-serif;
    letter-spacing: 0px;
    text-align: left;
    color: #202020;
    margin: 0;
}

/* NAVBAR STYLING */
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    /* background-color: rgba(34, 34, 34, 0.3); */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.navbar{
    max-width: 1250px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-collapse{
    height: 100%;
    line-height: 70px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-items{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

.nav-items .home-nav{
    color: #fb571c;
}

.nav-items a, 
.nav-links .dropdown-menu li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500px;
} 

.nav-items a:hover{
    color: #fb571c;
}

/* .nav-items .fa-caret-down{
    width: 22px;
    text-align: center;
    height: 100%;
    line-height: 70px;
    transition: all 0.3s ease;
}

.nav-items:hover .fas{
    transform: rotate(180deg);
} */

.donate-btn{
    padding: 16px 50px;
    border: none;
    border-radius: 30px;
    background-color: #fb571c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.donate-btn:hover{
    background-color: #ffc11f;
}

.donate-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.nav-links .dropdown-menu{
    list-style: none;
    position: absolute;
    top: 70px;
    left: 0;
    /* background-color: rgba(34, 34, 34, 0.3); */
    background-color: #fff;
    line-height: 40px;
    border-radius: 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}


.nav-links .dropdown-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links .dropdown-menu li a{
    text-decoration: none;
    color: #000;
    /* font-weight: 700; */
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
} 

.nav-links .dropdown-menu li a:hover{
    color: #fb571c;
}

.nav-items:hover .menu1,
.nav-items:hover .menu2,
.nav-items:hover .menu3,
.nav-items:hover .menu4{
    display: block;
}

.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px; 
}

.navbar .search-box i{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.navbar .search-box .input-box{
    height: 60px;
    width: 300px;
    background-color: #fff;
    position: absolute;
    top: 80px;
    opacity: 0;
    pointer-events: none;
    right: calc(100% - 40px);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar.showInput .search-box .input-box{
    opacity: 1;
    pointer-events: auto;
    top: 65px;
}

.navbar .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #fff;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}


.navbar .search-box .input-box input{
    background-color: hsl(0, 0%, 96%);
    color: #000;
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}


.navbar .fa-bars,
.navbar-collapse .sidebar-logo{
    display: none;
}

/* .navbar-collapse .sidebar-logo{
    display: none;
}

.navbar .fa-bars{
   display: none;
} */

/* Styling for Main */
.overview{
    /* margin-top: -90px; */
    height: 90vh;
    width: 100%;
    position: relative;
    color: hsl(0, 0%, 96%);
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview video{
    position: absolute;
    /* top: 0;
    left: 0; */
    bottom: 0;
    right: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}


.overview .wlcm-txt{
    padding: 0 84.5px;
    margin-top: 7rem;
    font-weight: 700;
}

.overview .wlcm-txt h1{
    font-size: 72px;
    margin-bottom: 20px;
}


.overview .wlcm-txt p{
    font-size: 26px;
    margin-bottom: 20px;
}


.overview .wlcm-txt button{
    margin-bottom: 20px;
    background-color: #ffc11f;
    padding: 16px 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.overview .wlcm-txt button:hover{
    background-color: #fb571c;
}

.overview .wlcm-txt button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}

/* Styling for First Section */
.sermons-section{
    margin-top: 58px;
    padding: 0 84.5px;
    padding-top: 62px;
    background-image: url(/background-image-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sermons-section .top{
    text-align: center;
}

.sermons-section .top .cross-img{
    margin-bottom: 32px;
} 


.sermons-section .top .cross-h1{
    font-size: 23px;
    margin-bottom: 32px;
}


.sermons-section .top .cross-para{
    margin: 0 182.5px;
    margin-bottom: 50px;
}

.sermon-boxes{
    background-image: url("/Circle.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.top-box,
.bottom-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sermon-boxes .box{
    text-align: left;
    width: 250px;
    margin: 0px 0px 40px 0px;
    padding: 20px 20px 31px 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0px 14px 20px 0px rgb(165 165 165 / 12%);
}

.sermon-boxes .box h1{
    margin: 10px 0;
    color: #202020;
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
}


.sermon-boxes .box p{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0px 0px 17px 0px;
}


.sermon-boxes .box span a{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin: 0px 0px 17px 0px;
    color: #fb571c;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.sermon-boxes .box span a:hover{
    color: #202020;
}

/* Latest Sermon Styling */
.latest-sermon{
    min-height: 508px;
    margin-top: 120px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.img-latest{
    position: relative;
    width: 56.5%;
}

.img-latest img{
    width: 100%;
    border-radius: 10px;
}


.img-latest .help-number{
    background-color: #fff;
    border-radius: 6px 6px 6px 6px;
    padding: 20px 26px 17px 26px;
    position: absolute;
    right: 3rem;
    bottom: 4rem;
    z-index: 22;
    align-self: flex-end;
}

.img-latest .help-number p{
    color: #FB571C;
    font-family: "DM Sans", Sans-serif;
    font-size: 27px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.26em;
}

.img-latest .help-number span{    
    font-size: 27px;    
    font-weight: 700;    
    line-height: 1.26em;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    letter-spacing: 2px;
}

.img-latest .help-number span:hover{
    color: #FB571C;
}

.para-latest{
    margin: 100px 15px 60px 50px;
    width: 43.5%;
    align-items: center;
    align-content: center;
}

.para-latest h1{
    color: #202020;
    font-family: "DM Sans", Sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 26px;
}

.para-latest p{
    color: #202020;
    font-family: "DM Sans", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
}

.para-latest p:last-of-type{
    margin-bottom: 26px;
}

.para-latest button{
    background-color: #FB571C;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    padding: 16px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.para-latest button:hover{
    background-color: #ffc11f;
}

/* Styling for back to top button */
.back-to-top{
    position: fixed;
    bottom: 50px;
    right: 2px;
    background-color: #202020;
    color: #F9F9F9;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top i{
    border: none;
}

/* Styling for Footer */
footer{
    font-family: 'League Spartan', sans-serif;
    color: #FFFFFF;
    padding: 0;
    position: relative;
    margin-top: 170px;
    background-color: transparent linear-gradient(117deg, #f26837 72%, #FFC11F 99%);
}

/* SignUp to Newsletter Form */
.sign-up{
    margin-left: auto;
    margin-right: auto;
    background-color: #FFC11F;
    display: flex;
    justify-content: space-around;
    min-width: 980px;
    padding: 56px 56px 53px 56px;
    border-radius: 160px;
    position: relative;
    z-index: 21;
}

.sign-up p{
    color: #FFFFFF;
    font-family: "DM Sans", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.4em;
}

.sign-up .form input{
    padding: 11px 55px 10px 20px;
    margin: 0px 0px 0px 0px;
    border-radius: 50px 50px 50px 50px;
    background-color: #FFFFFF;
    color: #202020;
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    border-width: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 0%);
    min-width: 405px;
    min-height: 42px;
}

.sign-up .form button{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 21px;
    background-color: #FB571C;
    color: #FFFFFF;
    padding: 11px 27.5px 10px 27.5px;
    margin-left: -55px;
    border-radius: 90px;
    min-height: 42px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sign-up .form button:hover{
    background-color: #FFC11F;
}

.newsletter-form{
    position: absolute;
    z-index: 54365678;
    top: -76px;
}

/* Footer-Content */

.footer-nav{
    min-width: 100%;
    min-height: 430px;
    padding-top: 180px;
    padding-bottom: 117px;
    display: flex;
    justify-content: space-around;
    background-color: transparent;
    background-image: linear-gradient(165deg, #F26837 61%, #FFBD12 93%);
    position: relative;
}


.footer-nav .socials{
    max-width: 363px;
    padding-right: 63.922px;
    margin: 0 15px;
}

.footer-nav .socials img{
    max-width: 200px;
}

.footer-nav .socials p{
    margin: 30px 0;
    font-size: 16px;
    line-height: 21px;
    font-weight: 600;
    text-align: left;
}

.social-media{
    display: flex;
}

.social-media a{
    text-decoration: none;
    color: inherit;
    margin-right: 10px;
}

.footer-nav .socials a i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 21px;
    background-color: #FFFFFF;
    color: #FB571C;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-nav .socials a i:hover{
    background-color: #FFC11F;
    color: #FFFFFF;
}

/* Short Links */
.short-links{
    width: 28%;
}

.short-links h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 2.6em;
}

.lists{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lists ul li{
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
} 

.lists ul li a{
    text-decoration: none;
    color: inherit;
}

.lists ul li:hover{
    color: #FFC11F;
}

/* Contact Us */
.contact-us h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 2.6em;
}

.telephone,
.location{
    display: flex;
    align-items: center;
}

.telephone{
    margin-bottom: 20px;
}

.telephone p span{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.telephone p span:hover{
    color: #FFC11F;
}

.telephone img,
.location img{
    margin-right: 15px;
}

.telephone p,
.location p{
    font-size: 20px;
    font-weight: 600;
}