*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

/* NAVBAR STYLING */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
    /* background-color: rgba(34, 34, 34, 0.3); */
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

.navbar{
    max-width: 1250px;
    padding-top: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.navbar-collapse{
    height: 100%;
    line-height: 70px;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-items{
    position: relative;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 14px;
}

.nav-items a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    /* color: #000; */
    transition: 0.5s ease-in-out;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 500px;
} 

.nav-items a:hover {
    color: #fb571c;
}

/* .nav-items .fa-caret-down{
    width: 22px;
    text-align: center;
    height: 100%;
    line-height: 70px;
    transition: all 0.3s ease;
}

.nav-items:hover .fas{
    transform: rotate(180deg);
} */

.donate-btn{
    padding: 16px 50px;
    border: none;
    border-radius: 30px;
    background-color: #fb571c;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.donate-btn:hover{
    background-color: #ffc11f;
}

.donate-btn a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

.nav-links .dropdown-menu{
    list-style: none;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: rgba(34, 34, 34, 0.3);
    line-height: 40px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}


.nav-links .dropdown-menu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links .dropdown-menu li a{
    font-size: 15px;
    font-weight: 500;
}

.nav-items:hover .menu1,
.nav-items:hover .menu2,
.nav-items:hover .menu3,
.nav-items:hover .menu4{
    display: block;
}

.navbar .search-box{
    position: relative;
    height: 40px;
    width: 40px; 
}

.navbar .search-box i{
    color: #fff;
    position: absolute;
    height: 100%;
    width: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

.navbar .search-box .input-box{
    height: 60px;
    width: 300px;
    background-color: #3e8da8;
    position: absolute;
    top: 80px;
    opacity: 0;
    pointer-events: none;
    right: calc(100% - 40px);
    border-radius: 6px;
    transition: all 0.3s ease;
}

.navbar.showInput .search-box .input-box{
    opacity: 1;
    pointer-events: auto;
    top: 65px;
}

.navbar .search-box .input-box::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #3e8da8;
    right: 10px;
    top: -6px;
    transform: rotate(45deg);
}


.navbar .search-box .input-box input{
    position: absolute;
    height: 35px;
    width: 280px;
    z-index: 98;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 16px;
}


.navbar .fa-bars,
.navbar-collapse .sidebar-logo{
    display: none;
}

/* .navbar-collapse .sidebar-logo{
    display: none;
}

.navbar .fa-bars{
   display: none;
} */

/* Styling for Main */
.overview{
    /* margin-top: -90px; */
    height: 90vh;
    width: 100%;
    position: relative;
    color: hsl(0, 0%, 96%);
    font-weight: 700;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overview video{
    position: absolute;
    /* top: 0;
    left: 0; */
    bottom: 0;
    right: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}


.overview .wlcm-txt{
    padding: 0 84.5px;
    margin-top: 7rem;
    font-weight: 700;
}

.overview .wlcm-txt h1{
    font-size: 72px;
    margin-bottom: 20px;
}


.overview .wlcm-txt p{
    font-size: 26px;
    margin-bottom: 20px;
}


.overview .wlcm-txt button{
    margin-bottom: 20px;
    background-color: #ffc11f;
    padding: 16px 50px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.overview .wlcm-txt button:hover{
    background-color: #fb571c;
}

.overview .wlcm-txt button a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
}